---
---

@import "{{ site.theme }}";

.page-header {
    padding: 1rem 6rem;
}

.project-name {
  margin-bottom: 0rem;
}

.project-tagline {
  margin: 0rem;
}

.main-content {
    max-width: 100rem;
}

summary {
  display: list-item;
}
